.container {
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    @include respond(75em) {
        margin: 0;
    }

    @include respond(62.5em) {
        max-width: 100%;
    }
}
