.header {
    min-height: 11rem;
    background-color: var(--color-grey-light-1);
    border-bottom: 1px solid var(--color-grey-light-4);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(31.25em) {
        flex-wrap: wrap;
        align-content: space-around;
    }

    &__logo {
        height: 3.8rem;
        margin-left: 2rem;
    }

    &__search {
        flex: 0 0 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(31.25em) {
            order: 1;
            flex: 0 0 100%;
            background-color: var(--color-grey-light-2);
        }

        &-input {
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            padding: 0.8rem 2rem;
            width: 90%;
            border: none;
            border-radius: 100px;
            background-color: var(--color-grey-light-2);
            transition: all 0.2s;
            margin-right: -3.5rem;

            &:focus {
                outline: none;
                width: 100%;
            }

            &::placeholder {
                color: var(--color-grey-light-4);
            }
        }

        &-icon {
            height: 2rem;
            width: 2rem;
            fill: var(--color-grey-dark-3);
        }

        &-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: all 0.2s;
        }

        &-input:focus + &-btn {
            transform: translateY(2px);
        }
    }

    &__user-nav {
        align-self: stretch;
        display: flex;

        &-item {
            display: flex;
            align-items: center;
            padding: 2rem;
            position: relative;
            transition: all 0.2s;

            &:hover {
                background-color: var(--color-grey-light-2);
            }
        }

        &-icon {
            height: 2.5rem;
            width: 2.5rem;
            fill: var(--color-grey-dark-2);
        }

        &-notif {
            position: absolute;
            top: 3rem;
            right: 1.4rem;
            background-color: var(--color-primary);
            color: white;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond(31.25em) {
                top: 2.2rem;
                right: 1rem;
            }
        }

        &-photo {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            margin-right: 1rem;
        }
    }
}
