.header {
    height: 7rem;
    background-color: var(--color-grey-light-1);
    border-bottom: 1px solid var(--color-grey-light-2);

    &__logo {
        height: 3.8rem;
    }

    &__search {
        &-input {
        }

        &-icon {
            height: 2rem;
            width: 2rem;
        }

        &-btn {
        }
    }

    &__user-nav {
        &-icon {
            height: 2rem;
            width: 2rem;
        }

        &-photo {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
        }
    }
}
