.hotel-view {
    flex: 1;

    /////////////// GALLERY
    &__gallery {
        display: flex;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__btn-inline {
        border: none;
        outline: none;
        font-size: inherit;
        background-color: transparent;
        margin-right: 2rem;
        color: var(--color-primary);
        text-transform: capitalize;
        padding-bottom: 3px;
        border-bottom: 2px solid currentColor;
        cursor: pointer;
        transition: color 0.3s;

        @include respond(25.8em) {
            border-bottom: 1px solid currentColor;
        }

        & span {
            margin-left: 3px;
            transition: margin-left 0.3s;
        }

        &:focus {
            animation: pulsate 1s infinite;
        }

        &:hover {
            color: var(--color-grey-dark-2);

            span {
                margin-left: 8px;
            }
        }
    }

    /////////////// OVERVIEW
    &__overview {
        display: flex;
        align-items: center;
        height: 8rem;
        font-size: 1.4rem;

        @include respond(37.5em) {
            font-size: 1.2rem;
        }

        &-heading {
            text-transform: capitalize;
            font-weight: 300;
            color: var(--color-grey-dark-2);
            padding: 2.4rem;

            @include respond(25.8em) {
                padding: 1rem;
                font-size: 1.4rem;
            }
        }

        &-star {
            margin-right: auto;
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }

        &-location {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            @include respond(25.8em) {
                font-size: 1rem;
            }
        }

        &-star-icon,
        &-location-icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--color-primary);

            @include respond(37.5em) {
                width: 2rem;
                height: 2rem;
            }

            @include respond(25.8em) {
                width: 1rem;
                height: 1rem;
            }
        }

        &-rating {
            align-self: stretch;
            background-color: var(--color-primary);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            color: var(--color-grey-light-1);

            &-rate {
                font-size: 2rem;

                @include respond(25.8em) {
                    font-size: 2rem;
                }
            }

            &-votes {
                font-size: 1.5rem;

                @include respond(25.8em) {
                    font-size: 1rem;
                }
            }
        }
    }

    /////////////// DETAILS
    // DESCRIPTION
    .detail {
        display: flex;
        gap: 5rem;
        background-color: var(--color-grey-light-3);
        padding: 5rem;

        @include respond(53.12em) {
            padding: 2.5rem 2.5rem 4.5rem;
            gap: 2.5rem;
        }

        @include respond(37.5em) {
            flex-direction: column;
        }
    }

    .description {
        flex: 0 0 60%;
        background-color: white;
        padding: 2.4rem;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);

        @include respond(53.12em) {
            padding: 1.5rem;
        }

        &__text {
            font-size: 1.5rem;

            margin-bottom: 3rem;
        }

        &__list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 2rem 0;
            border-top: 1px solid var(--color-grey-light-4);
            border-bottom: 1px solid var(--color-grey-light-4);

            &-item {
                width: 50%;
                padding: 1rem;
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                gap: 0.7rem;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    background-image: url('../img/chevron-thin-right.svg');

                    @supports (mask-image: url('../img/chevron-thin-right.svg')) or
                        (-webkit-mask-image: url('../img/chevron-thin-right.svg')) {
                        background-image: none;
                        background-color: var(--color-primary);
                        -webkit-mask-image: url('../img/chevron-thin-right.svg');
                        -webkit-mask-size: cover;
                        mask-image: url('../img/chevron-thin-right.svg');
                        mask-size: cover;
                    }
                }
            }
        }

        &__recommendation {
            display: flex;
            align-items: center;
            padding-top: 2.4rem;

            &-text {
                color: var(--color-grey-dark-2);
                font-size: 1.3rem;
                margin-right: auto;
            }

            &-img {
                display: inline-block;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                border: 2px solid white;

                &:not(:last-child) {
                    margin-right: -2rem;
                }
            }
        }
    }

    // REVIEWS
    .reviews {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__box {
            background-color: white;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            padding: 3rem;
            font-size: 1.4rem;
            position: relative;
            overflow: hidden;

            @include respond(53.12em) {
                padding: 1.5rem;
            }

            &:not(:last-child) {
                margin-bottom: 3rem;
            }

            &::before {
                content: '\201c';
                font-family: sans-serif;
                position: absolute;
                top: -2.8rem;
                left: -1rem;
                font-size: 20rem;
                line-height: 1;
                color: var(--color-grey-light-4);
                z-index: 9;
            }
        }

        &__text {
            margin-bottom: 2rem;
            z-index: 99;
            position: relative;
        }

        &__user {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            &-img {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
            }

            &-detail {
                margin-right: auto;
                &-name {
                    font-weight: 600;
                }

                &-date {
                    font-size: 1.2rem;
                }
            }

            &-rating {
                font-size: 2.8rem;
                color: var(--color-primary);
            }
        }
    }

    /////////////// OVERVIEW
    &__cta {
        text-align: center;
        padding: 4rem;
        &-heading {
            text-transform: uppercase;
            font-size: 2.4rem;
            font-weight: 300;
            margin-bottom: 3.2rem;

            @include respond(37.5em) {
                font-size: 2rem;
            }
        }
    }

    &__btn-cta {
        border: none;
        background-image: linear-gradient(
            to right,
            var(--color-primary-light),
            var(--color-primary-dark)
        );
        color: white;
        border-radius: 100px;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;

        @include respond(25.8em) {
            font-size: 1.7rem;
        }

        & > * {
            width: 100%;
            height: 100%;
            display: inline-block;
            transition: all 0.3s;
        }

        &-visible {
            padding: 2rem 7.5rem;

            @include respond(25.8em) {
                padding: 1.5rem 5.5rem;
            }
        }

        &-invisible {
            padding: 2rem 0rem;
            position: absolute;
            top: -100%;
            left: 0;

            @include respond(25.8em) {
                padding: 1.5rem;
            }
        }

        &:hover {
            background-image: linear-gradient(
                to left,
                var(--color-primary-light),
                var(--color-primary-dark)
            );
        }

        &:hover &-visible {
            transform: translateY(100%);
        }

        &:hover &-invisible {
            top: 0;
        }

        &:focus {
            outline: none;
            animation: pulsate 1s infinite;
        }
    }
}
